img{
    width: 100%;
    height: auto;
}
body{
    color: #333333;
    font-size: 16px;
    padding: 0px;
    margin: 0px;
    font-family: "Noto Sans JP";
    background-color: white;
}
* {
    box-sizing: border-box;
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
}